@use "../../../shared//styles/colors" as *;

.trigger {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0 12px;
  font-size: var(--text-s);
  color: color(dark, 900);
  cursor: pointer;
  outline: none;
  border: 1px solid color(light, 900);
  border-radius: 2px;

  &:hover {
    color: color(light, 900);
  }

  &:active {
    background-color: color(dark, 500);
  }

  &:focus-visible {
    color: color(light, 900);
    border-color: color(accent, 500);
  }

  .icon {
    transition: transform 0.2s ease-in-out;
  }

  &[data-state="open"] {
    border-color: color(dark, 900);

    .icon {
      transform: rotate(180deg);
    }
  }

  &:disabled {
    color: color(dark, 100);
    cursor: not-allowed;
    border-color: color(dark, 100);
  }
}

.pagination {
  gap: 0;
  height: 24px;
  padding: 0 4px;
}

.content {
  position: relative;
  z-index: 50;

  /* min-width: var(--radix-select-trigger-width); */
  width: var(--radix-select-trigger-width);
  max-height: 300px;
  overflow: hidden auto;
  background-color: color(light, 100);
  border: 1px solid color(dark, 500);
  border-radius: 2px;
}

.viewport {
  width: 100%;
  height: var(--radix-select-trigger-height);
}

.label {
  padding: 6px 8px;
  font-size: 12px;
  color: color(light, 100);
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  cursor: pointer;
  user-select: none;
  outline: none;

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus {
    color: color(dark, 500);
    background-color: var(--color-accent);
  }
}

.itemDefault {
  padding: 6px 12px;
  color: color(light, 900);

  &:hover {
    color: color(accent, 500);
    background-color: color(dark, 300);
  }
}

.itemPagination {
  height: 24px;
  padding: 0 6px;
  color: color(light, 100);

  &:hover {
    background-color: color(dark, 100);
  }
}
