@use "../../../shared//styles/colors" as *;

.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 4px;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  width: 140px;
  padding: 6px 12px;
  font-size: var(--font-size-m);
  //color: color(dark, 100);
  outline: none;
  background: transparent;
  //border: 1px solid color(light, 900);
  border-radius: 2px;

  &--light {
    color: color(dark, 100);
    border: 1px solid color(light, 900);

    &:hover {
      color: color(dark, 900);
      border-color: color(dark, 900);
    }

  }

  &--dark {
    color: color(light, 100);
    border: 1px solid color(light, 100);

    &:hover {
      background-color: color(dark, 300);
    }
  }



  &::placeholder {
    color: color(light, 900);
  }

  &:focus,
  &:focus-visible {
    border-color: transparent;
    box-shadow: 0 0 0 2px color(accent, 100);
  }

  &:disabled {
    color: color(dark, 300);
    pointer-events: none;
    border-color: color(dark, 300);

    &::placeholder {
      color: color(dark, 300);
    }
  }
}

.search {
  padding-left: 38px;
}

.error {
  border-color: color(danger, 500);
}

.errorMessage {
  min-height: color(danger, 500);
  font-size: var(--font-size-s);
  color: color(danger, 500);

  //   word-break: break-word //error stylelint;
  overflow-wrap: anywhere;
  white-space: normal;
}

.errorAbsolute {
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
}

.iconButton {
  position: absolute;
  top: 6px;
  right: 8px;
  padding: 0;
  color: color(light, 100);
  cursor: pointer;
  background: transparent;

  &:disabled {
    color: color(dark, 300);
    pointer-events: none;
  }
}

.searchIcon {
  position: absolute;
  top: 4px;
  left: 12px;
  z-index: -1;
  color: color(light, 900);
}

.locationIcon {
  position: absolute;
  top: 6px;
  right: 12px;
  color: color(light, 900);
  cursor: pointer;
}

.requiredMark {
  color: color(danger, 500);
}
