.container {
  display: flex;

  gap: 10px;
  flex-direction: column;

  
}

.inputs {
  display: flex;
  

  gap: 10px;
  flex-direction: column;
}

.inputsGroup {
  display: flex;
  gap: 10px;
}

.result {
  text-align: left;
}

.headerDencity {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px;
}
