.primary {
  color: white;
  background-color: #1976d2;
  border: none;
}

.secondary {
  color: white;
  background-color: black;
  border: none;
}

.outlined {
  color: black;
  background-color: transparent;
  border-color: black;
}

.text {
  color: black;
  background-color: transparent;
  border-color: transparent;
}

.fullWidth {
  width: 100%;
}