@use 'sass:map';

$colors: (
  accent: (
    100: #73a5ff,
    300: #4c8dff,
    500: #397df6,
    700: #2f68cc,
    900: #234e99,
  ),
  success: (
    100: #80ffbf,
    300: #22e584,
    500: #14cc70,
    700: #0f9954,
    900: #0a6638,
  ),
  danger: (
    100: #ff8099,
    300: #f23d61,
    500: #cc1439,
    700: #990f2b,
    900: #660a1d,
  ),
  warning: (
    100: #ffd073,
    300: #e5ac39,
    500: #d99000,
    700: #960,
    900: #640,
  ),
  dark: (
    100: #4c4c4c,
    300: #333,
    500: #171717,
    700: #0d0d0d,
    900: #000,
  ),
  light: (
    100: #fff,
    300: #f7fbff,
    500: #edf3fa,
    700: #d5dae0,
    900: #8d9094,
  ),
  primary: (
    100: #212121,
  ),
  secondary: (
    100: #4d8df4,
  ),
  neutral: (
    100: #b7b7b7,
  ),
  error: (
    100: #f00,
  ),
);

// Вспомогательные функции для работы с картой
@function color($name, $shade: 500) {
  @if map.has-key($colors, $name) {
    $color-map: map.get($colors, $name);

    @if map.has-key($color-map, $shade) {
      @return map.get($color-map, $shade);
    }
  }

  @warn "Color #{$name}-#{$shade} not found in $colors map";
  @return null;
}
