@use "./colors" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 300px;
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.light {
    color: color(dark, 100);
    background-color: color(light, 100);
  }

  &.dark {
    color: color(light, 100);
    background-color: color(dark, 100);
  }
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

a {
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  white-space: nowrap;
  cursor: pointer;
  background-color: unset;
  border: none;
}