*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 300px;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #1f1f20;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

a {
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  white-space: nowrap;
  cursor: pointer;
  background-color: unset;
  border: none;
}

h1,
h2,
h3 {
  color: #7572d5;
}
