.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 2px;
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
