.container {
  display: flex;
  flex-direction: column;
  gap: 10px;


}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs-group {
  display: flex;
  gap: 10px;
}

.result {
  text-align: left;
}

.header-dencity {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}