@use "../../../shared//styles/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid color(light, 900);
  border-radius: 2px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs-group {
  display: flex;
  gap: 10px;
}

.result {
  text-align: left;
}

.header-dencity {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.buttonSave {
  width: 140px;
}

.groupResult {
  display: flex;
  flex-direction: column;
  gap: 8px;
}