.nav {
  display: flex;
  gap: 20px;
  padding: 15px;

  /* background-color: #f8f9fa; */


}

.link {
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #e9ecef;
}

.active {
  font-weight: bold;
  color: #fff;
  background-color: #0d6efd;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}